{% extends 'base.html' %}

{% block content %}

<div class="content" margin-top="100">
    <h1>About</h1>
</div>
<div class="content">
    <ul>
        <li>
            This is an air quality report web app developed as a test project to practice Python, Django, HTML, and CSS. 
        </li>
        <li>
            All information presented in this web app about air quality comes directly from <a href="https://www.airnow.gov">airnow.gov</a>.
        </li>
        <li>
            Programmed by Ron Ejercito
        </li>
    </ul>
    
</div>

{% endblock %}

